::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar:horizontal {
    height: 1vh;
}

::-webkit-scrollbar-track {
    background: #83838300;
}

::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 146, 0.5);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(146, 146, 146, 0.5);
    border-radius: 999px;
    height: 1vh;
}

::-webkit-scrollbar-thumb:hover {
    background: #706e6e;
}

#body-accueil {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    display: grid;
    grid-template-columns: 18% 82%;
    color: rgb(59, 59, 59);
    overflow: hidden;
    /* border: 1px solid red */
}
#left-accueil {
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 0 10px;
    border-right: 2px solid rgb(238, 238, 238);
}
#logo{
    height: 100%;
    width: fit-content;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#logo img:first-child{
    height: 80%;
    width: 80%;
    margin: auto;
}
#logo img:last-child{
    height: 50%;
    width: 60%;
}
#right-accueil {
    height: 100%;
    background-color: rgb(245 245 245);
}
#filtre{
    margin-top: 10%;
    display: grid;
    grid-template-rows: 5% 40% 20% 15%;
    gap: 2%;
}

#filtre-entete{
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    border-bottom: 2px solid rgb(238, 238, 238);

}
#filtre-element{
    padding: 5px 5px 5px 0px;
    width: 100%;
    border-top: 2px solid rgba(240, 235, 235, 0.75);
    overflow-y: auto;
    margin-top: 2%;

}
#group-element{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-top: 2%;
}
#group-element div{
    height: fit-content;
    padding: 5px;
    border-radius: 999px;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: rgba(240, 235, 235, 0.75);
    color: rgb(68, 68, 68);
    font-size: 0.875rem; 
    line-height: 1.25rem;
}
#filtre-cat{
    margin-top: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    /* border-top: 2px solid rgb(238, 238, 238); */
    /* border: 1px solid; */
}
#liste-cat{
    width: 95%;
    height: 100%;
    overflow-y: auto;
}
#filtre-comp{
    margin-top: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    /* border: 1px solid blue; */
}
#liste-comp{
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: end;
    overflow-y: auto;
}
#liste-comp div{
    width: 95%;
    height: fit-content;
    display: grid;
    margin-top: 0 !important;
    grid-template-columns: 25% 70%;
    gap: 5%;
    align-items: center;
    /* border: 1px solid; */
}
#filtre-prix{
    margin-top: 20px;
    height: fit-content;
    display: grid;
    grid-template-rows: 20% 76%;
    gap: 4%;
    /* -webkit-user-modify: 100%; */
    /* align-items: center; */
    /* border: 1px solid red; */
}
#filtre-prix #prix{
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    /* border: 1px solid; */
    /* align-items: center; */
}
#right-accueil {
    height: 100% !important;
    display: grid;
    grid-template-rows: 10% 90%;
    /* border: 1px solid red */
}
#right-header{
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: 2px solid rgb(238, 238, 238);
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 0.1), 0 2px 3px -3px rgb(0 0 0 / 0.1);
}
#right-entete{
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 50% 15%;
    gap: 10%;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
} 
#right-titre{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    /* border: 1px solid black; */
}
#right-search{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}
#right-btn{
    /* margin-left: 30px; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 25%;
    gap: 5%;
    align-items: center;
    /* border: 1px solid red; */

}
#right-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}
#container-entete{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 30% 20%;
    gap: 2%;
}
#btn-add-cart{
    padding: 10px;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}
#btn-add-car button{
    padding: 15px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    /* border-image: linear-gradient( #ed2645 ,#ff394b , #ff7f00 , #ffd400 ) 1 ; */
    
}
#btn-add-cart button span{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient( #ed2645 ,#ff394b , #ff7f00 , #ffd400 );
    font-size: 1rem;
    font-weight: 600;
}
#date-sortie{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 4% 45% ;
    gap: 2%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#date-sortie span{
    font-size: 1.25rem;
    font-weight: 600;
    color:  rgb(116, 109, 109);
}
#sort-by{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}
input[type=month]{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px !important;
    border: 1px solid rgb(163, 163, 163) !important;
    color:  rgb(115 115 115);
}
input[type=mounth]:focus{
    outline: #ff7f00;
}
#container-body{
    /* border: 1px solid red; */
    width: 100% !important;
    height: 100% !important;
    display: grid;
    grid-template-rows: 4% 86% 10%;
    /* gap: 1%; */
    align-items: center;
}
#display-produit{
    width: 97%;
    height: 97% !important;
    max-height: 97% !important;
    margin: auto;
    /* overflow-y: scroll; */
    /* display: grid; */
    /* grid-template-rows: fit-content 20vh;
    gap: 2%; */
    /* border: 1px solid red; */
}
#group-card{
    /* border: 1px solid blue; */
    width: 100%;
    height: 80vh !important;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-auto-rows: 40vh;
    gap: 10px; */
    justify-content: center;
    overflow-y: auto;
}
#card-pro{
    width: 22%;
    height: 45vh;
    /* height: 100%; */
    margin-right: 15px;
    margin-bottom: 20px;
    border: 2px solid rgb(238, 238, 238);
    background-color: white;
    border-radius: 10px;
    display: grid;
    max-width: 40vh !important;
    grid-template-rows: 50% 15% 10% 10% 15%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
#card-img{
    width: 100%;
    height: auto;
    position: relative;
    /* border: 1px solid blue; */

}
#card-img img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 1px solid blue; */
}
#card-nom{
    width: 100%;
    height: auto;
    display: grid;
    /* grid-template-columns: 80% 20%; */
    align-items: center;
    /* margin-left: 5px; */
    /* border: 1px solid blue; */

}
#card-comp{
    width: 100%;
    height: auto;
    /* margin-left: 5px; */
    /* border: 1px solid blue; */

}
#card-review{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 55% 50%;
    align-items: center;
    /* margin-left: 5px; */
    /* border: 1px solid blue; */

}
#card-prix{
    width: 100%;
    height: auto;
    /* margin-left: 5px; */
    /* border: 1px solid blue; */
    position: relative;
}
#page-card{
    width: fit-content;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




@media screen and (min-height: 700px) {
    #card-pro{
        height: 40vh;
    }

    #filtre{
        margin-top: 10%;
        display: grid;
        grid-template-rows: 5% 45% 20% 15%;
        gap: 2%;
    }
    
}




